.formDiv
{
	margin:0 auto;
	margin-bottom: 100px;
	padding:14px;
}

.formDiv label{
	display:block;
	text-align:right;
	width:140px;
	float:left;
}

.formDiv label:after{
	content: "*";
	color:#dc4704;
	font-size:14px;
	font-weight:normal;
	margin-left: 2px;
	/*width:80px;*/
}
.formDiv input:not([type='radio']), textarea, select{
	float:left;
	padding:4px 2px;
	width:200px;
	margin:2px 200px 20px 10px;
}

.formDiv textarea{
	height: 120px;
}


button
{
	float: right;
	margin-left: 5px;
}
